body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: sans-serif;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0,0,0,0.6);
  padding: 10px 14px;
  border-radius: 10px;
}
