body {
  margin: 0;
  overflow: hidden;
  background: black;
  font-family: sans-serif;
}

#ui {
  position: fixed;
  top: 10px;
  left: 10px;
  color: white;
  background: rgba(0,0,0,0.5);
  padding: 8px 12px;
  border-radius: 8px;
}

